@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Creepster&display=swap");

:root {
  --dracula-dark-black: #282a36;
  --dracula-black: #44475a;
  --dracula-white: #f8f8f2;
  --dracula-dark-blue: #6272a4;
  --dracula-light-blue: #8be9fd;
  --dracula-light-blue-rgb-nums: 139, 233, 253;
  --dracula-green: #50fa7b;
  --dracula-orange: #ffb86c;
  --dracula-pink: #ff79c6;
  --dracula-red: #ff5555;
  --dracula-yellow: #f1fa8c;
  --violet: violet;

  --width-lg: 700px;
  --width-sm: 350px;
  --square-lg: 100px;
  --square-sm: 50px;
}

* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 10px;
  color: var(--dracula-orange);
  font-family: "Creepster", cursive;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--dracula-black);
}

#video-grid {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  grid-auto-rows: 300px;
  gap: 50px;
  justify-content: center;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: solid 5px var(--dracula-green);
}

@media only screen and (max-width: 650px) {
  #video-grid {
    grid-template-columns: repeat(2, 200px);
    grid-auto-rows: 200px;
    gap: 20px;
  }
}

@media only screen and (max-width: 450px) {
  #video-grid {
    grid-template-columns: repeat(1, 200px);
    grid-auto-rows: 200px;
    gap: 20px;
  }
}